# OS
.DS_Store
*.md
*.txt

# local env files
.env.local
.env.*.local

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?


# Vue
**/components/archive/*
*lock*.yaml

# Assets
*.png

# Ops
*.sh
nginx/
