@import './base.css';

html, body, #project {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Tiny5';
}

body {
  overflow: hidden;
}

#project {
  font-weight: normal;
}

@font-face {
  font-family: 'Tiny5';
  src: url('../src/assets/fonts/Tiny5-Regular.ttf') format('truetype');
}
