{
  "extends": [
    "stylelint-config-standard-scss",
    "stylelint-prettier/recommended"
  ],
  "rules": {
    "selector-class-pattern": null,
    "alpha-value-notation": "number",
    "declaration-block-no-redundant-longhand-properties": null,
    "selector-pseudo-class-no-unknown": [
      true,
      {
        "ignorePseudoClasses": [
          "global"
        ]
      }
    ],
    "color-function-notation": [
      "modern",
      {
        "ignore": [
          "with-var-inside"
        ]
      }
    ]
  }
}
